.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.boardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
}

.cellStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: green;
  border: solid 2px black;
}

.stone1Style {
  width: 60px;
  height: 60px;
  background: linear-gradient(120deg, #737373, #000 50%);
  border-radius: 50%;
}

.stone2Style {
  width: 60px;
  height: 60px;
  background: linear-gradient(120deg, #666, #fff 50%);
  border-radius: 50%;
}

.stone3Style {
  width: 40px;
  height: 40px;
  background: linear-gradient(120deg, skyblue, #0078d3 150%);
  border-radius: 50%;
}

.stone3Style:hover {
  width: 30px;
  height: 30px;
  background: linear-gradient(120deg, skyblue, #d300c5 150%);
  border-radius: 50%;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  outline: dashed 1px black;
}

.turn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  font-size: 30px;
}
